<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <title>Fender 3TrashGuitarists</title>

    <link href="/static/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/static/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/static/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="/static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

</head>
<body>

    <header id="header" class="fixed-top ">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-9 d-flex align-items-center justify-content-between">
                    <h1 class="logo"><a href="{{urlfor "HomeController.Get"}}">3TrashGuitarists</a></h1>
                    <nav class="nav-menu d-none d-lg-block">
                        <ul>
                            <li><a href="{{urlfor "HomeController.Get"}}">Home</a></li>
                            <li  class="active drop-down"><a href="/#brand">Brand</a>
                                <ul>
                                    <li><a href="{{urlfor "FenderController.Get"}}">Fender</a></li>
                                    <li><a href="{{urlfor "SuhrController.Get"}}">Suhr</a></li>
                                    <li><a href="{{urlfor "IbanezController.Get"}}">Ibanez</a></li>
                                    <li><a href="{{urlfor "CharvelController.Get"}}">Charvel</a></li>
                                    <li><a href="{{urlfor "ESPController.Get"}}">ESP</a></li>
                                    <li><a href="{{urlfor "TAController.Get"}}">Tom Anderson</a></li>
                                </ul>
                            </li>
                            <li><a href="#Search">Search</a></li>
                            <li><a href="{{urlfor "AboutUsController.Get"}}">About Us</a></li>
                            <li><a href="{{urlfor "ContactController.Get"}}">Contact</a></li>
                            {{/*only can be seen after login*/}}
                            {{if .IsLogin}}
                                <li class="drop-down"><a href="">{{.user_name}}</a>
                                    <ul>
                                        <li><a href="{{urlfor "MyInformationController.Get"}}">My Information</a></li>
                                        <li><a href="">Shopping Cart</a></li>
                                        <li><a href="{{urlfor "OrdersController.Get"}}">Order</a></li>
                                    </ul>
                                </li>
                            {{end}}
                        </ul>
                    </nav>
                    {{if .IsLogin}}
                        <a href="{{urlfor "ExitController.Get"}}" class="sign-in">Exit</a>
                    {{else}}
                        <a href="{{urlfor "SignInController.Get"}}" class="sign-in">Sign In</a>
                    {{end}}
                </div>
            </div>
        </div>
    </header>

    <section id="front-picture" class="d-flex flex-column justify-content-center brand-fender">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <h1>Fender</h1>
                    <h2>Where would you begin? The signature brilliance of their sound? The all-pervading coolness implicit in their look? Their status as an American design classic and model of elegant ergonomic simplicity? The versatility that makes the same guitar feel right at home in the green hands of a beginner or the sure grip of the world's most acclaimed artists?</h2>
                    <h2>Fender electric guitars know no musical boundaries, used as they are (and always have been) to fuel boundless creativity in those who play them regardless of genre. Fender electric guitars have proven their immense worth over time across the musical spectrum, whether it be on a classic rock song, a blues song, a metal song, a punk song, an indie pop song, a country song, an R&B song, a funk song, a jazz song, an Americana song, a Latin song, and just about any other genre conceivable.</h2>
                    <h3><a href="https://shop.fender.com/en/intl/start">https://shop.fender.com/en/intl/start</a></h3>
                </div>
            </div>
        </div>
    </section>

    <section class="series-guitar">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-md-12 d-flex align-items-stretch justify-content-center">
                    <div class="series-box">
                        <div class="series"><img src="/static/Picture/st.jpg" alt="Stratocaster"></div>
                        <h4 style="text-align:center"><a href="">Stratocaster</a></h4>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 d-flex align-items-stretch justify-content-center">
                    <div class="series-box">
                        <div class="series"><img src="/static/Picture/tele.jpg" alt="Telecaster"></div>
                        <h4 style="text-align:center"><a href="{{urlfor "GuitarDisplayController.Get" ":brand" "fender" ":series" "telecaster" ":neck" "all" ":fretboard" "all" ":body" "all"}}">Telecaster</a></h4>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 d-flex align-items-stretch justify-content-center">
                    <div class="series-box">
                        <div class="series"><img src="/static/Picture/jazzmaster.jpg" alt="Jazzmaster"></div>
                        <h4 style="text-align:center"><a href="">Jazzmaster</a></h4>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 d-flex align-items-stretch justify-content-center">
                    <div class="series-box">
                        <div class="series"><img src="/static/Picture/as.jpg" alt="Acoustasonic"></div>
                        <h4 style="text-align:center"><a href="">Acoustasonic</a></h4>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="container">
            <h3>3TrashGuitarists</h3>
            <p>We sell electric guitars, but we don't know how to play :)</p>
            <div class="social-links">
                <a href="https://twitter.com/Serene15763786" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/phoebe.bu" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/WingoC23/" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://github.com/SereneTo" class="github"><i class="bx bxl-github"></i></a>

            </div>

            <div class="credits"></div>
        </div>
    </footer>

</body>
</html>